version: "3.6"
services:
  server:
    build: .
    env_file: .env
    volumes:
      - .:/usr/src/app/
      - /usr/src/app/node_modules
      - /usr/src/app/venv
    restart: "always"
    ports:
      - "${API_PORT}:3003"
